<!DOCTYPE html >
<html lang="fr">

<head>
<meta  charset="UTF-8" />
<title> {{title}}</title>

</head>
  <body>

  {{{body}}}

<div id="footer">
 TD 1 en NodeJS
 © IUT du Limousin DUT Informatique année 2
</div>
</body>
</html>
