<h1>Ajouter une personne</h1>

  <form method="post" action="/afficheClient">

    <label>
      Nom : <input class="champ" type="text" id="nom" name="nom"/>
    </label>

    <label>
      Prenom : <input class="champ" type="text" id="prenom" name="prenom"/>
    </label>
    <input class="bouton" type="submit" value="Valider"/>
    <br/><br/>
  </form>
